*{
    box-sizing: border-box;
    margin: 0px;
    margin-top: 10px;
    font-family: 'Poppins';
}

h1{
    text-align: center;
    font-size: 50px;
    color: rgb(119, 119, 119);
}

#container{
    position: relative;
    margin-top: 90px;
}

#str{
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    width: 600px;
    height: 200px;
    margin-top: 30px;
    border-radius: 8px;
    padding: 5px;
}

@media (max-width:640px){
    #str{
        width: 340px;
    }
    h1{
        font-size: 40px;
    }
}

#btn{
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    top: 250px;
    width: 150px;
    height: 45px;
    background: white;
    border: solid gray 1px;
    border-radius: 7px;
    font-family: 'Poppins';
    font-size: 1.2rem;
    transition: background-color 0.2s, color 0.2s;
}

#btn:hover{
    background: gray;
    color: white;
}

#output{
    position: absolute;
    transform: translateX(50%);
    top: 300px;
    right: 50%;
    width: 300px;
    height: 100px;
    background: white;
    margin-top: 50px;
    padding: 5px;
}

p{
    display: inline-block;
    width: 100%;
    text-align: center;
}